

#ve2304 .paragraph1 {
  text-align: center;
}
#ve2290 .ReportElementContainer {
  padding: 0px;
}
#ve2177 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2877 .ReportElementContainer {
  padding: 0px;
}
#ve1884 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve2877 .span1 {
  font-style: italic;
}
#ve1620 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2278 .span1 {
  font-style: italic;
}
#ve2084 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1896 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1685 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1685 .styleForTitle_span1 {
  font-weight: bold;
}
#ve322 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2278 .ReportElementContainer {
  padding: 0px;
}
#ve2304 .span1 {
  font-weight: bold;
  font-size: 13.5pt;
}
#ve1896 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1620 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve322 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1884 .styleForTitle_span1 {
  font-weight: bold;
}

			