

#ve1820 .tableColumnbi2101 {
  fill-gradient-end-color: #B14C51;
}
#ve1820 .tableColumnbi2102 {
  fill-gradient-end-color: #287FC7;
}
#ve1884 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1820 .Table {
  border-style: solid;
}
#ve1820 .hierarchybi1843 {
  width: 52px;
}
#ve2877 .span1 {
  font-style: italic;
}
#ve1820 .hierarchybi2132 {
  width: 95px;
}
#ve3018 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve2918 .GraphDataStyleDefault {
  fill-color: #287FC7;
}
#ve1620 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1896 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve2278 .span1 {
  font-style: italic;
}
#ve2918 .styleForTitle_span1 {
  font-weight: bold;
}
#ve3075 .ReportElementContainer {
  padding: 0px;
}
#ve2278 .ReportElementContainer {
  padding: 0px;
}
#ve2304 .span1 {
  font-weight: bold;
  font-size: 13.5pt;
}
#ve322 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2918 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1896 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1884 .styleForTitle_span1 {
  font-weight: bold;
}
#ve3018 .GraphDataStyle1 {
  fill-color: #B14C51;
}
#ve2304 .paragraph1 {
  text-align: center;
}
#ve2290 .ReportElementContainer {
  padding: 0px;
}
#ve2177 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve3018 .TwoColorRamp {
  fill-gradient-end-color: #B14C51;
}
#ve2877 .ReportElementContainer {
  padding: 0px;
}
#ve2918 .GraphDataStyle1 {
  fill-color: #287FC7;
}
#ve3075 .span1 {
  font-style: italic;
}
#ve3018 .TwoColorRamp1 {
  fill-gradient-end-color: #B14C51;
}
#ve1820 .hierarchybi2980 {
  width: 143px;
}
#ve3018 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1820 .hierarchybi2981 {
  width: 102px;
}
#ve2084 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1685 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1685 .styleForTitle_span1 {
  font-weight: bold;
}
#ve3018 .GraphDataStyleDefault {
  fill-color: #B14C51;
}
#ve1620 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve322 .styleForTitle_paragraph1 {
  text-align: center;
}

			